<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            color: red;
        }
        #cad{
            font-size: 20pt;
        }
        
    </style>
</head>
<body>
<h1>Hello World</h1>

<a th:href="@{/cadastrarPage}">CADASTRAR</a>

<table>
    <tr th:each="postagem: ${postagemList}">
        <td th:text="${postagem.autor}">
        <td th:text="${postagem.id}">
        <td th:text="${postagem.mensagem}">
        </td>
        <td><a th:href="@{/editarPage/{postId}(postId=${postagem.id})}">Editar</a></td>
        <td><a th:href="@{/deletePage/{postId}(postId=${postagem.id})}">Deletar</a></td>
    </tr>
    
</table>

</body>
</html>